# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
from pprint import pprint

# Import API key
from api_keys import g_key
# Configure gmaps
gmaps.configure(api_key=g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
# Store filepath in a variable

Import_CityDatafile = "OutputData/CityData.csv"
# Read our Data file with the pandas library

City_data_df = pd.read_csv(Import_CityDatafile)
City_data_df.head()

,City,latitude,Longitude,Maxtemp,Humidity,Cloudiness,Windspeed,Country,Date
0,Longyearbyen,78.22,15.64,8.00,81,40,0.41,SJ,1594951295
1,Gallup,35.53,-108.74,18.00,82,90,3.10,US,1594951322
2,Upernavik,72.79,-56.15,6.84,75,94,1.62,GL,1594951554
3,Lukulu,-14.37,23.24,8.41,77,0,3.01,ZM,1594951554
4,Raudeberg,61.99,5.14,16.11,93,100,6.20,NO,1594951554

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [22]:
# Store latitude and longitude in locations
locations = City_data_df[["latitude","Longitude"]]


Humidity=City_data_df["Humidity"]

In [23]:
#plot heatmap
fig= gmaps.figure()
#create heat layer
heat_layer = gmaps.heatmap_layer(locations,weights=Humidity,
                                 dissipating=False,
                                 max_intensity=10,
                                 point_radius=1)
#Add layer
fig.add_layer(heat_layer)

#Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [ ]:
# BONUS
# Plost as a Hybrid map
fig = gmaps.figure(map_type="HYBRID")

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations,weights=Humidity,
                                 dissipating=False,
                                 max_intensity=10,
                                 point_radius=1)

fig.add_layer(heat_layer)
fig

In [ ]:
# BONUS
# Plot as a Terrain map
fig = gmaps.figure(map_type="TERRAIN")

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations,weights=Humidity,
                                 dissipating=False,
                                 max_intensity=10,
                                 point_radius=1)

fig.add_layer(heat_layer)
fig

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [ ]:
# #  Get the indices of cities that have humidity over 100%.
# humidity_over_hundper=raw_data.loc[(raw_data["Humidity"] < 100)]
                                   
# humidity_over_hundper

In [6]:
#get the ideal temperature using below criteria
ideal_weather = City_data_df.loc[(City_data_df["Maxtemp"].between(70,80,inclusive=True))|
                                 (City_data_df["Windspeed"]<10)|
                                 (City_data_df["Cloudiness"]==0)
                                ]
ideal_weather

,City,latitude,Longitude,Maxtemp,Humidity,Cloudiness,Windspeed,Country,Date
0,Longyearbyen,78.22,15.64,8.00,81,40,0.41,SJ,1594951295
1,Gallup,35.53,-108.74,18.00,82,90,3.10,US,1594951322
2,Upernavik,72.79,-56.15,6.84,75,94,1.62,GL,1594951554
3,Lukulu,-14.37,23.24,8.41,77,0,3.01,ZM,1594951554
4,Raudeberg,61.99,5.14,16.11,93,100,6.20,NO,1594951554
...,...,...,...,...,...,...,...,...,...
527,Olinda,-8.01,-34.86,26.00,69,40,5.70,BR,1594951594
528,Pervomayskiy,53.25,40.29,10.93,96,22,2.77,RU,1594951594
529,Lexington,37.99,-84.48,26.67,88,75,2.10,US,1594951315
530,Puerto del Rosario,28.50,-13.86,22.00,88,0,3.10,ES,1594951594
531,Barguzin,53.62,109.62,15.52,51,15,3.49,RU,1594951594

In [ ]:
# hotel_df=pd.DataFrame(ideal_weather)
# hotel_df

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [7]:
hotel_df=pd.DataFrame(ideal_weather)
hotel_df

,City,latitude,Longitude,Maxtemp,Humidity,Cloudiness,Windspeed,Country,Date
0,Longyearbyen,78.22,15.64,8.00,81,40,0.41,SJ,1594951295
1,Gallup,35.53,-108.74,18.00,82,90,3.10,US,1594951322
2,Upernavik,72.79,-56.15,6.84,75,94,1.62,GL,1594951554
3,Lukulu,-14.37,23.24,8.41,77,0,3.01,ZM,1594951554
4,Raudeberg,61.99,5.14,16.11,93,100,6.20,NO,1594951554
...,...,...,...,...,...,...,...,...,...
527,Olinda,-8.01,-34.86,26.00,69,40,5.70,BR,1594951594
528,Pervomayskiy,53.25,40.29,10.93,96,22,2.77,RU,1594951594
529,Lexington,37.99,-84.48,26.67,88,75,2.10,US,1594951315
530,Puerto del Rosario,28.50,-13.86,22.00,88,0,3.10,ES,1594951594
531,Barguzin,53.62,109.62,15.52,51,15,3.49,RU,1594951594

In [9]:
# Add columns for "Hotel Name"
hotel_df["Hotel Name"] = ""
df4=hotel_df.head(10)
df4

,City,latitude,Longitude,Maxtemp,Humidity,Cloudiness,Windspeed,Country,Date,Hotel Name
0,Longyearbyen,78.22,15.64,8.00,81,40,0.41,SJ,1594951295,
1,Gallup,35.53,-108.74,18.00,82,90,3.10,US,1594951322,
2,Upernavik,72.79,-56.15,6.84,75,94,1.62,GL,1594951554,
3,Lukulu,-14.37,23.24,8.41,77,0,3.01,ZM,1594951554,
4,Raudeberg,61.99,5.14,16.11,93,100,6.20,NO,1594951554,
5,Jamestown,42.10,-79.24,22.78,94,90,2.10,US,1594951281,
6,Hobart,-42.88,147.33,9.00,66,20,4.10,AU,1594951554,
7,Port Elizabeth,-33.92,25.57,6.00,93,0,1.00,ZA,1594951387,
8,Punta Arenas,-53.15,-70.92,-1.00,92,0,2.60,CL,1594951343,
9,Barrow,71.29,-156.79,3.00,69,90,7.20,US,1594951490,

In [10]:
from pprint import pprint

In [15]:
# params dictionary to update each iteration
params = {
    
    "radius": 50000,
    "keyword": "hotels",
    "key": g_key
}
# Use the lat/lng we recovered to identify hotels
for index, row in df4.iterrows():
    # get lat, lng from df
    lat = row["latitude"]
    lng = row["Longitude"]
 # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"   
     # Use the search term: "Hotel" and our lat/lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # make request and print url
    response = requests.get(base_url, params=params)
#print(name_address)
     # convert to json
    hotel_response= response.json()
    try:
             hotel_df.loc[index, "Hotel Name"] =  hotel_response["results"][0]["name"]
       # hotel_df.loc[index, "Airport Address"] = name_address["results"][0]["vicinity"]
        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
    
#pprint(h_d)
df5=hotel_df.head(10)       
df5

,City,latitude,Longitude,Maxtemp,Humidity,Cloudiness,Windspeed,Country,Date,Hotel Name
0,Longyearbyen,78.22,15.64,8.00,81,40,0.41,SJ,1594951295,Mary-Ann's Polarrigg
1,Gallup,35.53,-108.74,18.00,82,90,3.10,US,1594951322,SpringHill Suites by Marriott Gallup
2,Upernavik,72.79,-56.15,6.84,75,94,1.62,GL,1594951554,Café de Upernavik
3,Lukulu,-14.37,23.24,8.41,77,0,3.01,ZM,1594951554,Sandra Guest House
4,Raudeberg,61.99,5.14,16.11,93,100,6.20,NO,1594951554,Thon Hotel Måløy
5,Jamestown,42.10,-79.24,22.78,94,90,2.10,US,1594951281,Seneca Allegany Resort & Casino
6,Hobart,-42.88,147.33,9.00,66,20,4.10,AU,1594951554,Hotel Grand Chancellor Hobart
7,Port Elizabeth,-33.92,25.57,6.00,93,0,1.00,ZA,1594951387,The Beach Hotel
8,Punta Arenas,-53.15,-70.92,-1.00,92,0,2.60,CL,1594951343,Hotel Dreams Punta Arenas
9,Barrow,71.29,-156.79,3.00,69,90,7.20,US,1594951490,Top of the World Hotel

In [16]:
# Save Data to csv
hotel_df.to_csv("Hotels_info.csv")

In [ ]:
#Plot the hotels on top of the humidity heatmap with each pin containing the **Hotel Name**, **City**, and **Country**.

In [18]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
#hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
#locations = hotel_df[["Lat", "Lng"]]
hotel_info = [info_box_template.format(**row) for index, row in df5.iterrows()]
locations = df5[["latitude", "Longitude"]]
hotel_info

["\n<dl>\n<dt>Name</dt><dd>Mary-Ann's Polarrigg</dd>\n<dt>City</dt><dd>Longyearbyen</dd>\n<dt>Country</dt><dd>SJ</dd>\n</dl>\n",
 '\n<dl>\n<dt>Name</dt><dd>SpringHill Suites by Marriott Gallup</dd>\n<dt>City</dt><dd>Gallup</dd>\n<dt>Country</dt><dd>US</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Café de Upernavik</dd>\n<dt>City</dt><dd>Upernavik</dd>\n<dt>Country</dt><dd>GL</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Sandra Guest House</dd>\n<dt>City</dt><dd>Lukulu</dd>\n<dt>Country</dt><dd>ZM</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Thon Hotel Måløy</dd>\n<dt>City</dt><dd>Raudeberg</dd>\n<dt>Country</dt><dd>NO</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Seneca Allegany Resort & Casino</dd>\n<dt>City</dt><dd>Jamestown</dd>\n<dt>Country</dt><dd>US</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Hotel Grand Chancellor Hobart</dd>\n<dt>City</dt><dd>Hobart</dd>\n<dt>Country</dt><dd>AU</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>The Beach Hotel</dd>\n<dt>City</dt><dd>Port Elizabeth</dd>\n<dt>Country</dt><dd>ZA</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Hotel Dreams Punta Arenas</dd>\n<dt>City</dt><dd>Punta Arenas</dd>\n<dt>Country</dt><dd>CL</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Top of the World Hotel</dd>\n<dt>City</dt><dd>Barrow</dd>\n<dt>Country</dt><dd>US</dd>\n</dl>\n']

In [ ]:
# Add marker layer ontop of heat map

In [19]:
# Assign the marker layer to a variable
markers = gmaps.marker_layer(locations)
# Add the layer to the map
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))